@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Raleway", sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}
body {
  text-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-color: #111;
}
.banner {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(49, 168, 221, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url("../img/banner.png");

  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 60px;
  border-bottom: 1px solid #33a8db80;
}

.banner-content {
  margin: 0 auto;
  width: 600px;
}
.banner .logo {
  background-color: rgba(0, 0, 0, 0.2);
  width: 268px;
  height: 268px;
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 50%;
}
.banner .logo img {
  object-fit: contain;
}

.banner-content h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 47px;
  color: transparent;
  background: linear-gradient(180deg, #33a8db 0%, #1472b7 100%);
  -webkit-background-clip: text;
  background-clip: text;

  border: 2px solid;
}

.banner-content p {
  margin: 16px 0 24px;
  font-size: 1.25rem;
  font-weight: 400;
}
.banner-content button {
  margin: 0 auto;
  padding: 16px 32px;
  border: 2px solid transparent;
  border-image-source: linear-gradient(180deg, #3ba1cd 0%, #1572b7 100%);
  border-radius: 30px;
  border-image-slice: 10;
  color: #31a8dd;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 4px;
}
section {
  margin: 100px auto;
}
#course-content {
  width: 800px;
}
h2 {
  color: #33a8db;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  margin-bottom: 24px;
  text-transform: uppercase;
}
#course-content p {
  margin: 16px 0 24px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
}
#course-content .module span {
  color: #31a8dd;
}
#course-content .modules-list {
  margin: 24px 0;
}
.module {
  border: 1px solid #33a8db;
  background: #252525;
  width: 535px;

  padding: 16px;

  border-radius: 100px;
  margin: 0 auto 24px;
  box-shadow: inset -5px 6px 8px rgba(0, 0, 0, 0.7);
}
#transform-world {
  height: 560px;
  background-image: url("../img/woman-code.png");
  background-attachment: fixed;
  background-size: cover;
  border: 1px solid #33a8db;
  padding: 200px;
}
#transform-world p {
  text-transform: lowercase;
  font-size: 2.5rem;
  font-weight: 900;
  max-width: 250px;
  text-shadow: 3px 2px #33a8db;
}
#professional-challenges {
  width: 800px;
}

#professional-challenges img {
  margin: 32px 0;
}
footer {
  border-top: 1px solid #33a8db;
  background: linear-gradient(
    180deg,
    rgba(51, 168, 219, 0) 0%,
    rgba(51, 168, 219, 0.2) 99.99%,
    rgba(51, 168, 219, 0.2) 100%
  );
  padding: 60px 0;
}
footer img {
  width: 300px;
}
footer p a {
  text-decoration: none;
  color: #33a8db;
  font-weight: bold;
}
