@import url(styles.css);

div {
  color: lightcyan;
}

main li {
  background-color: #777;
  border-radius: 5px;
  color: #333;
  padding: 5px;
  margin: 5px 0;
}
main li p {
  color: #333;
}
main li p strong {
  color: #333;
}
#bem-vindo {
  padding: 8px 16px;
  border: 2px solid transparent;
  border-image-source: linear-gradient(180deg, #3ba1cd 0%, #1572b7 100%);
  border-radius: 30px;
  border-image-slice: 10;
  color: #31a8dd;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #111;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
  margin: 10px auto;
}

#entender-css {
  padding: 8px 16px;
  border: 2px solid transparent;
  border-image-source: linear-gradient(180deg, #3ba1cd 0%, #1572b7 100%);
  border-radius: 30px;
  border-image-slice: 10;
  color: #31a8dd;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #222;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
}

.seletores-mais-comuns {
  color: blueviolet;
}

.texto-maiusculo {
  text-transform: uppercase;
}
/* Seleciona o atributo */
[title] {
  color: orangered;
}

/* Seleciona o atributo pelo seu valor */
[title="Netflix"] {
  background-color: aliceblue;
}

/* "~" Seleciona uma palavra dentro do valor do atributo */
[title~="streaming"] {
  background-color: rgb(181, 246, 242);
}

/* "|" Seleciona uma palavra dentro do valor do atributo, desde que tenha somente ela ou que seja seguida por um hífen*/
[title|="streaming"] {
  text-transform: uppercase;
}

/* "^" Seleciona prefixos dentro do valor do atributo */
[href^="http://"]
{
  font-weight: bold;
}

/* "$" Seleciona sufixos dentro do valor do atributo */
[href$=".com"] {
  font-style: italic;
}

/* "*" Seleciona qualquer coisa que comece com um determinado prefixo */
[href*="netflix"] {
  color: darkred;
}

/* "," separaos seletores para aplicar a mesma regra a todos eles. */
#link-referencia,
#link-suporte,
#botao-voltar {
  text-decoration: none;
  color: #fff;
}
[id^="botao"] {
  background-color: lightcoral;
  color: white;
  padding: 5px 15px;
}

p.texto {
  color: lightblue;
}

/* Combinadores descendentes - espaço*/

.fundo-verde li {
  background-color: lightgreen;
}
.fundo-azul li {
  background-color: lightblue;
}

.fundo-verde #sublista-01 li {
  color: red;
}

#exemplo01 div p {
  background-color: lavender;
}
/* Combinadores filho - (>)*/
#exemplo01 div > p {
  color: red;
}
#exemplo02{
  border:none;
}

#exemplo02 div > p {
  background-color: aquamarine;
}
#exemplo02 .fundo-azul > p {
  background-color: blue;
  color: white;
}

#exemplo02 .fundo-verde > p {
  background-color: greenyellow;
  color: green;
}
div span p {
  color: blue;
}
/* Combinadores irmãos (+) -> aplica para o irmão que vem logo após*/
#exemplo02 div + p {
  color: #7c021b;
}

#exemplo02 .fundo-verde + p {
  background-color: palevioletred;
}
/* Combinadores irmãos (~) -> aplica para todos os irmãos*/
#exemplo02 div ~ p {
  text-transform: uppercase;
}

/* Altura e largura */
#ex-alt-lar {
  background: rgb(73, 4, 163);
  width: 150px;
  height: 100px;
}
#auto {
  width: auto;
  height: auto;
  color: #333;
}

#initial {
  width: initial;
  height: initial;
  color: #333;
}

#div01 {
  background: rgb(38, 131, 161);
  height: 150px;
  width: 200px;
}

#div02 {
  background: lightseagreen;
  width: 150px;
  height: inherit;
}

#max-min button {
  max-width: 200px;
  min-height: 100px;
  color: #333;
}

/* margin */
#margin div {
  width: 200px;
  height: 200px;
}

#elemento01 {
  background: orange;
  /* cima, direita, baixo, esquerda */
  margin: 50px 20px 10px 300px;
}

#elemento02 {
  background: purple;
  /* auto - centraliza na horizontal */
  margin: auto;
  /* valores negativos: fazem com que os elementos se sobreponham */
  margin-top: -50px;
}

#padding div {
  width: 300px;
  height: 200px;
  margin: 25px;
}
#elemento03 {
  background: lightcoral;
  padding: 100px 40px;
}

#elemento04 {
  background: mediumorchid;
}
#box-sizing div {
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 30px;
}
#elemento05 {
  background: deeppink;
  box-sizing: border-box;
}

#elemento06 {
  background: mediumorchid;
  box-sizing: content-box;
}
