@import url(styles.css);

div {
  background: lightblue;
  color: darkblue;
}

li {
  background-color: lightgreen;
  border-radius: 5px;
  color: #333;
  padding: 5px;
  margin: 5px 0;
}
li p {
  color: #333;
}
li p strong {
  color: #333;
}
#bem-vindo {
  background: palevioletred;
  color: white;
  padding: 20px;
  max-width: 400px;
  border-radius: 20px;
}

#entender-css {
  background: hotpink;
  color: white;
  padding: 20px;
  max-width: 400px;
  border-radius: 20px;
}

.seletores-mais-comuns {
  color: blueviolet;
}

.texto-maiusculo {
  text-transform: uppercase;
}
/* Seleciona o atributo */
[title] {
  color: orangered;
}

/* Seleciona o atributo pelo seu valor */
[title="Netflix"] {
  background-color: aliceblue;
}

/* "~" Seleciona uma palavra dentro do valor do atributo */
[title~="streaming"] {
  background-color: rgb(181, 246, 242);
}

/* "|" Seleciona uma palavra dentro do valor do atributo, desde que tenha somente ela ou que seja seguida por um hífen*/
[title|="streaming"] {
  text-transform: uppercase;
}

/* "^" Seleciona prefixos dentro do valor do atributo */
[href^="http://"]
{
  font-weight: bold;
}

/* "$" Seleciona sufixos dentro do valor do atributo */
[href$=".com"] {
  font-style: italic;
}

/* "*" Seleciona qualquer coisa que comece com um determinado prefixo */
[href*="netflix"] {
  color: darkred;
}

/* "," separaos seletores para aplicar a mesma regra a todos eles. */
#link-referencia,
#link-suporte,
#botao-voltar {
  text-decoration: none;
  color: darkorchid;
}
[id^="botao"] {
  background-color: lightcoral;
  color: white;
}

p.texto {
  color: green;
}

/* Combinadores descendentes - espaço*/

.fundo-verde li {
  background-color: greenyellow;
}
.fundo-azul li {
  background-color: lightseagreen;
}

.fundo-verde #sublista-01 li {
  color: red;
}

#exemplo01 div p {
  background-color: lavender;
}
/* Combinadores filho - (>)*/
#exemplo01 div > p {
  color: red;
}

#exemplo02 div > p {
  background-color: aquamarine;
}
#exemplo02 .fundo-azul > p {
  background-color: blue;
  color: white;
}

#exemplo02 .fundo-verde > p {
  background-color: greenyellow;
}

/* Combinadores irmãos (+) -> aplica para o irmão que vem logo após*/
#exemplo02 div + p {
  color: brown;
}

#exemplo02 .fundo-verde + p {
  background-color: palevioletred;
}
/* Combinadores irmãos (~) -> aplica para todos os irmãos*/
#exemplo02 div ~ p {
  text-transform: uppercase;
}

/* Altura e largura */
#ex-alt-lar {
  background: lightgoldenrodyellow;
  width: 150px;
  height: 100px;
}
#auto {
  width: auto;
  height: auto;
}

#inicial {
  width: initial;
  height: initial;
}

#div01 {
  background: lightblue;
  height: 150px;
  width: 200px;
}

#div02 {
  background: lightseagreen;
  width: 150px;
  height: inherit;
}

#largura-altura {
  background: #ddd;
}

#max-min {
  background: #bbb;
}
#max-min button {
  max-width: 200px;
  min-height: 100px;
}

/* margin */
#margin div {
  width: 200px;
  height: 200px;
}

#elemento01 {
  background: orange;
  /* cima, direita, baixo, esquerda */
  margin: 50px 20px 10px 300px;
}

#elemento02 {
  background: purple;
  /* auto - centraliza na horizontal */
  margin: auto;
  /* valores negativos: fazem com que os elementos se sobreponham */
  margin-top: -50px;
}

#padding div {
  width: 300px;
  height: 200px;
  margin: 25px;
}
#elemento03 {
  background: lightcoral;
  padding: 100px 40px;
}

#elemento04 {
  background: lightgrey;
}
#box-sizing div {
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 30px;
}
#elemento05 {
  background: beige;
  box-sizing: border-box;
}

#elemento06 {
  background: burlywood;
  box-sizing: content-box;
}
