@import url(styles.css);

.example {
  margin: 1rem;
  border-radius: 3px;
}
.responsive-box {
  background-color: #f0f0f0;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #ccc;
  color: #333;
}

.multicolumn {
  /* column-count: 3;  o texto fica em 3 colunas e seu tamanho muda com o tamanho da tela */
  column-width: 200px; /* As colunas vão ter 200px de largura e a quantidade de colunas muda com o tamanho da tela */
  column-gap: 20px;
  column-rule: 1px solid #808080;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  color: #333;
  line-height: 1.5rem;
}
.multicolumn p,
.multicolumn h3,
.multicolumn h4 {
  color: #333;
}
.flex-container {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
}
.item {
  padding: 1rem;
  background-color: #f8f8f8;
  color: #333;
  line-height: 1.2rem;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 3px;
}
.flex-item {
  flex: 1;
}

.image-card img {
  width: 100%;
}
.image-card {
  background-color: #f8f8f8;
  border-radius: 3px;
  border: 1px solid #e2e2e2;
  padding: 0.5rem;
  margin: 0;
  align-content: center;
  flex-basis: 200px;
}
.gallery {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.grid-body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px repeat(3, 150px);
  grid-template-areas:
    "header header header header"
    "menu main main main"
    "menu content-1 content-2 content-3"
    "menu footer footer footer";
}
[class^="grid"] {
  padding: 1rem;
  color: #333;
  width: 100%;
  box-sizing: border-box;
}
.grid-header {
  grid-area: header;
  background-color: lightblue;
}
.grid-menu {
  grid-area: menu;
  background-color: lightgreen;
}
.grid-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.grid-menu ul li a {
  color: #333;
}
.grid-main {
  width: 100%;
  grid-area: main;
  background-color: lightsalmon;
}
.grid-content-1 {
  grid-area: content-1;
  background-color: paleturquoise;
}
.grid-content-2 {
  grid-area: content-2;
  background-color: papayawhip;
}
.grid-content-3 {
  grid-area: content-3;
  background-color: plum;
}
.grid-footer {
  grid-area: footer;
  background-color: lightpink;
}
.img-example {
  display: flex;
  max-width: 100%;
  object-fit: scale-down;
  justify-items: center;
  box-sizing: border-box;
  margin: 1rem;
  padding: 0.3rem;
  justify-content: center;
}
.img-example img,
.code-example {
  background-color: #f4f4f4;

  padding: 0.5rem;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}
.code-example pre {
  line-height: 1.2;
}

.container-example {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  font-size: 0.7rem;
  border-radius: 5px;
}

.item-example {
  flex: 1;
  padding: 1rem;
  margin: 0.5rem;
  background-color: #f4f4f4;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

blockquote {
  padding: 1rem;
  margin: 0.5rem;
  background-color: #f4f4f4;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
blockquote i {
  color: #333;
}

@media print {
  body {
    background: black;
    color: white;
  }
}

@media (max-width: 600px) {
  .responsive-box {
    font-size: 14px;
    background-color: #e0e0e0;
    color: #333;
  }
}
@media (max-width: 768px) {
  .container-example {
    flex-direction: column;
  }
  .flex-container {
    flex-direction: column;
  }
}
