* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #f9f9f9;
  font-size: 100%;
  background-color: none;
  margin: 0 auto;
}

.css {
  padding: 30px;
  text-align: center;
  width: 70%;
  font-size: 1.3rem;
  letter-spacing: 2px;
}
html {
  background-color: #555;
}
body {
  max-width: 800px;
  background-color: #444;
}
.container-header {
  margin: 0;
  text-align: center;
  vertical-align: middle;
}
header {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(49, 168, 221, 0.2),
      rgba(49, 168, 221, 0.2),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../img/banner.png");

  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  border-bottom: 1px solid #33a8db80;
}
main article {
  padding: 20px 0;
}
section {
  border-bottom: 1px solid #33a8db80;
  padding: 15px;
  line-height: 2;
}
h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 47px;
  color: transparent;
  background: linear-gradient(180deg, #9fc8d9 0%, #2f9ce9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  border: 2px solid;
  display: inline-block;
  margin: 0 30px;
}

header button {
  margin: 0 auto;
  padding: 8px 16px;
  border: 2px solid transparent;
  border-image-source: linear-gradient(180deg, #3ba1cd 0%, #1572b7 100%);
  border-radius: 30px;
  border-image-slice: 10;
  color: #31a8dd;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 10px;
}
h2 {
  font-size: 1.5rem;
  color: #33a8db;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  padding: 2rem;
}
h3 {
  font-size: 1.25rem;
  padding: 2rem 0;
}
h3,
h4,
h5,
h6 {
  padding: 1rem 0;
  color: rgb(240, 242, 242);
}

link,
a {
  text-decoration: none;
  color: #33a8db;
  transition: color 0.5s;
}
link,
a:hover {
  color: #f4f4f4;
}
code {
  font-family: monospace;
  font-size: 1em;
  background-color: #f4f4f4;
  color: #000;
  padding: 2px 4px;
  border-radius: 4px;
}

header .logo {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100px;
  height: 100px;
  margin: 0 50px;

  padding: 16px;
  border-radius: 50%;
  display: inline-block;
}
.logo img {
  margin: auto;
  width: 80px;
  height: 80px;
}

ul li {
  list-style: none; /* Remove o marcador padrão */
  position: relative;
}

ul li::before {
  content: "✔"; /* Ícone ou símbolo */
  color: #f1f1f1;
  font-size: 1rem; /* Tamanho do ícone */
  position: absolute;
  left: -30px; /* Ajuste a posição */
}
p,
strong {
  background-color: transparent;
}
footer {
  border-top: 1px solid #33a8db;
  background: linear-gradient(
    180deg,
    rgba(51, 168, 219, 0) 0%,
    rgba(51, 168, 219, 0.2) 99.99%,
    rgba(51, 168, 219, 0.2) 100%
  );
  padding: 15px 0;
}
footer p {
  text-align: center;
}
footer p a {
  text-decoration: none;
  color: #33a8db;
  font-weight: bold;
}

header nav ul li {
  display: inline-block;
  margin: 10px;
}
